{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Me</title>
	<link rel="stylesheet" href= "{% static 'core/style.css' %}">
</head>

<body>
    <nav>
		<ul>
			<li><strong>About Me<strong>/li>
			<li><a href="http://jessempython.pythonanywhere.com">Black Box Investigation</a></li>
			<li><a href="http://jessempython.pythonanywhere.com/screenprint">Screenprinting Project</a></li>
			<li><a href="#">Genetics Documentary</a></li>
		</ul>
	</nav>
<h1>About Me</h1>
    <div class = "sidebyside">
        <div>
            <p>One of my favorite things in life is doing a successful Taekwondo demonstration. It takes weeks of practice to perfect, and when done just right, it feels great to do it. demo pic</p>
        </div>
        <div>
            <img src="{% static '' %}" alt="" width="200">
        </div>
    </div>
    <div class = "sidebyside">
        <div>
            <p>I am a third degree black belt in Taekwondo. I have been doing Taekwondo since I was 5, and joined the weapons team when I was 12. I hope to be the captain of the weapons team someday, helping to plan demonstrations. I also aspire to be a fourth degree black belt, which will take plenty of persistence.plaque pic</p>
        </div>
        <div>
            <img src="{% static '' %}" alt="" width="200">
        </div>
    </div>
    <div class = "sidebyside">
        <div>
            <p>Also, I am a ninth-grader at ESUMS, and taking AP Bio and Pre-Calculus is super fun! I love math and science and am very glad ESUMS continues to challenge me. bio+math</p>
        </div>
        <div>
            <img src="{% static '' %}" alt="" width="200">
        </div>
        <div>
            <img src="{% static '' %}" alt="" width="200">
        </div>
    </div>
    <div class = "sidebyside">
        <div>
            <p>Additionally I love various aspects of electronics, from video games to soldering, and from coding to figuring out how something works. I consider electrical and software engineering to be top contenders for my college major. coding+ soldering</p>
        </div>
        <div>
            <img src="{% static '' %}" alt="" width="200">
        </div>
        <div>
            <img src="{% static '' %}" alt="" width="200">
        </div>
    </div>
    <p>Persevering through struggles is what brought me to this point in my life, and it will bring me to the next part of my life as well.</p>
</body>

</html>