{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Jesse's Black Box Investigation</title>
	<link rel="stylesheet" href= "{% static 'core/style.css' %}">
</head>

<body>
	<nav>
		<ul>
			<li><a href="http://jessempython.pythonanywhere.com">About Me</a></li>
			<li><strong>Black Box Investigation</strong></li>
			<li><a href="http://jessempython.pythonanywhere.com/screenprint">Screenprinting Project</a></li>
			<li><a href="#">Genetics Documentary</a></li>
		</ul>
	</nav>
	<h1>Black Box Investigation</h1>
	<h2>Introduction</h2>
	<p>In our New Media and Technology for Social Change class we investigated the mystery black box. The mystery black
		box is a black trunk box with a hole cut in the top with a funnel in it, and a hole in the front with a piece of
		tubing sticking out. When pouring in the same amount of water, an inconsistent amount of water would come out.
		The goal of this investigation was to design and build a model to replicate the data we have from the mystery
		black box.</p>
	<h2>Claim</h2>
	<p>Inside the mystery black box, there are two separate tanks that are not directly connected.</p>
	<h2>Evidence</h2>
	<div class="sidebyside">
		<div>
			<p>The mystery black box is a black trunk box with a funnel sticking into a hole in the top and a tube
				sticking out the front. When pouring in a consistent amount of water into the black box, an inconsistent
				amount of water came out.</p>
		</div>
		<div>
			<img src="{% static 'core/IMG_4360.webp' %}" alt="Image showing classmate pouring boiling hot water into black box" width="200">
		</div>
	</div>
	<div class="sidebyside">
		<div>
			<p>For example, trial one poured in 1000 ml, and 830 ml came out, while trial two poured in 1000 ml, but
				1300 ml came out. After more trials, it became clear that the mystery black box had more water in it
				than we had poured in, as the first four trials total output was 4105 ml, which is more than the total
				input of 4000 ml. </p>

		</div>
		<div>
			<img src= "{% static 'core/IMG_4366.webp' %}" alt="Image showing water coming out of the black box" width="200">
		</div>
	</div>
	<h3> Table 1. Measurements From Original Black Box: </h3>
	<table>
		<tr>
			<th>Trial</th>
			<th>Volume of Water Input (ml)</th>
			<th>Volume of Water output (ml)</th>
			<th>Time From All Water Poured in to When the Output Slows to a Drip (sec) </th>
		</tr>
		<tr>
			<td>1</td>
			<td>1000</td>
			<td>830</td>
			<td>39.6</td>
		</tr>
		<tr>
			<td>2</td>
			<td>1000</td>
			<td>1300</td>
			<td>1:31.02</td>
		</tr>
		<tr>
			<td>3</td>
			<td>1000</td>
			<td>1400</td>
			<td>1:05.32</td>
		</tr>
		<tr>
			<td>4</td>
			<td>1000</td>
			<td>535</td>
			<td>58.61</td>
		</tr>
		<tr>
			<td>5</td>
			<td>1000</td>
			<td>1530</td>
			<td>1:01.03</td>
		</tr>
		<tr>
			<td>6</td>
			<td>1000</td>
			<td>200</td>
			<td>51.55</td>
		</tr>
	</table>
	<div class="sidebyside">
		<div>
			<p>My group decided that that must mean there is a second tank. We designed our model with two tanks
				connected by a valve, where the force of water in the first tank would open the valve, and allow some
				water from the second tank to exit the model.</p>
		</div>
		<div>
			<img src="{% static 'core/IMG_4264.webp' %}" alt="Image with physical black box model" width="200">
		</div>
	</div>
	<div class="sidebyside">
		<div>
			<p>We tested the model by filling up the second tank about halfway, and then pouring a small amount of water
				into the input. In trial one, we poured 395 ml in, and got 40 ml out. In trial two we poured in 675 ml,
				and 806 ml came out.</p>
		</div>
		<div>
			<img src="{% static 'core/IMG_4262.webp' %}" alt="Image showing part how the tanks are connected to the valve in my black box model" width="200">
		</div>
	</div>
	<h3> Table 2. Measurements From Our Group's Model:</h3>
	<table>
		<tr>
			<th>Trial</th>
			<th>Volume of Water Input (ml)</th>
			<th>Volume of Water output (ml)</th>
		</tr>
		<tr>
			<td>1</td>
			<td>395</td>
			<td>40</td>
		</tr>
		<tr>
			<td>2</td>
			<td>675</td>
			<td>806</td>
		</tr>
	</table>

	<h2>Reasoning</h2>
	<p>Models are representations of objects that are generally simpler and are used to show an idea or prove a theory.
		They can be useful, as they do not need to be polished or perfect, they only need to work. That also means they
		can be inaccurate or too simple as well. The evidence shows that more water comes out than is put in. Having a
		second tank could explain that, as that allows for more water to be stored than what is input. Our data does not
		disagree, as even though less water came out than what was put in, that was true for trials 4, 5, and 6 with the
		original black box. If there is one tank, the amount coming out would be more consistent. This is because the
		input and output would most likely be directly connected, rather than indirectly connected. A direct connection
		would mean that it would be harder for water to be stored, as water would want to continue downward. This is not
		what the data showed. This means our claim is more solid than one suggesting one tank.</p>

	<h2>3D Modeling, Animation, and Augmented Reality</h2>
	<div class="sidebyside">
		<div>
			<p>I created my 3D model of my groups black box model in the 3D modeling software Autodesk Maya. I used the
				ideal version of our model, rather than how the physical model turned out as inspiration. To get a nice
				looking image, I used the proprietary renderer Arnold.</p>
		</div>
		<div>
			<img src="{% static 'core/Renderedpic.png' %}" alt="Rendered image of black box model" width="200">
		</div>
	</div>
	<div class="sidebyside">
		<div>
			<p>After creating the model, I animated the water moving through the model, causing the valve to open. It
				took a long time to get the values just right, and to get all the animations to line up</p>
		</div>
		<div>
			<video width="300" autoplay muted controls loop src="{% static 'core/Jesse_Black_Box_Animation.mp4' %}">
				Your browser does not support the video tag.
			</video>
		</div>
	</div>
	<div class="sidebyside">
		<div>
			<p>Once I had animated the model, I exported it so I could use it in Adobe Aero. Using Adobe Aero, I created
				an AR version of my 3D model. Here is the link for computers:</p>
			<a href="https://adobeaero.app.link/C3wSSSYy5Nb">Link to my black box model in AR</a>
			<p>And here is a QR code for phones and tablets:</p>
			<img class="centered" src="{% static 'core/AR_Black_Box_QR_Code.png' %}" alt="QR code to my black box model">
			width="200">
		</div>
		<div>
			<img src="{% static 'core/IMG_4522.webp' %}" alt="Image showing model in AR" width="200">
		</div>
	</div>

	<h2>Personal Reflection</h2>
	<div class="sidebyside">
		<div>
			<p>I came up with the idea that our black box model used as its basis, the idea of two tanks connected with
				a valve. I also came up with the design for the physical model and the design for the valve. Other
				contributions I made were the building of the valve, the making of the supply list, and photographer for
				multiple days. </p>
		</div>
		<div>
			<img src="{% static 'core/IMG_3997.webp' %}" alt="Image showing physical black box model as a work in progress" width="200">
		</div>
	</div>
	<div class="sidebyside">
		<div>
			<p>I spent a long time in Autodesk Maya getting everything just right, including creating the idealized
				version of the black box model. I kept refining the design with smaller details, such as spheres
				representing water in the tube, and coordinated animations of water leveling changing the valve opening
				and closing, as you can see in the video above.</p>
		</div>
		<div>
			<img src="{% static 'core/IMG_4356.webp' %}" alt="Image showing black box digital model as a work in progress" width="200">
		</div>
	</div>
	<div class="sidebyside">
		<div>
			<p> I learned that valve design is challenging, and valve building is even harder. I also learned how to use
				Autodesk Maya and that working in a team of people you do not know well is challenging, especially when
				you end up as the de facto leader. Some things that went well were the modeling phase of the digital
				black box model, making the collaboration contract, and using the sticky note progress tracking board.
			</p>
		</div>
		<div>
			<img src="{% static 'core/collabcontract.png' %}" alt="Low-quality image of the collaboration contract my group write together"
				width="200">
		</div>
		<div>
			<img src="{% static 'core/progresstracker.png' %}" alt="Low-quality image showing the state of the progress tracker after all tasks were completed" width="200">
		</div>
	</div>
		<p> I enjoyed using Autodesk Maya and making the website the most, as my prior knowledge and learning ability really
		shined in that part. I struggled with setlling for an animation that wasn't really what I wanted and with
		building a succesful valve. I could think about issues that may arise as I design, rather than as I build, and I
		could better learn how to manage helping others, while also getting my work done.</p>
	<h2>21st Century Competency</h2>
		<p>The 21st century competency I demonstrated the most was creativity and innovation. Specifically, I demonstrated orginality and inventiveness throughout the project. I created a valve design that could, in theory, work using cardboard and waterproof tape. I also invented a way to represent water spreading out in a container without too much work or liquid simulation.
</body>

</html>