{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Placeholder For Next Project</title>
	<link rel="stylesheet" href= "{% static 'core/style.css' %}">
	<link rel="icon" href= "{% static 'core/FaviconTechWebsite.png' %}">
</head>

<body>
    <nav>
		<ul>
			<li><a href="http://jessempython.pythonanywhere.com">About Me</a></li>
			<li><a href="http://jessempython.pythonanywhere.com/blackbox">Black Box Investigation</a></li>
			<li><a href="http://jessempython.pythonanywhere.com/screenprint">Screenprinting Project</a></li>
			<li><a href="http://jessempython.pythonanywhere.com/geneticsdocumentary">Genetics Experiment Documentary</a></li>
			<li><strong>Placeholder</strong></li>
		</ul>
	</nav>
	<h1>Placeholder</h1>
    <p>Everything is set up for this, except under placeholder. Change the names and links in everything, including this, and copy this over to a new file once you know the name of the next project.</p>
</body>

</html>